:root {
    --click_width: 40vw;
    --section_start: darkGrey;
    --section_end: lightGrey;
    overflow: hidden;
}
@property --color {
  syntax: "<color>";
  initial-value: white;
  inherits: false;
}
@property --speed {
  syntax: "<time>";
  initial-value: 10s;
  inherits: false;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes pulse {
    0% {
        --color: #000066;
    }
    50% {
        --color: #2C75FF;
    }
    100% {
        --color: #000066;
    }
}
* {
    padding:0px;
    margin:0px;
}
#click {
    position: absolute;
    top:0px;
    left:0px;
    width: var(--click_width);
    height: 100vh;
    background-color: navy;
}
#upgrades {
    position: absolute;
    top:0px;
    right:0px;
    width: calc(100vw - var(--click_width));
    height: 100vh;
}
#clickk {
    background-color: black;
    position: absolute;
    top:10px;
    left:10px;
    width: calc(var(--click_width) - 20px);
    height: calc(var(--click_width) - 20px);
}
#energy {
    position: absolute;
    top:20px;
    left:20px;
    width: calc(var(--click_width) - 60px);
    height: calc(var(--click_width) - 60px);
    border-radius: 50%;
    background-image: radial-gradient(var(--color), black);
    animation: pulse var(--speed) linear infinite;
}
#energy:hover {
    --speed: 3s;
}
#energy:not(:hover) {
    --speed: 10s;
}
#spin {
    position: absolute;
    top:20px;
    left:20px;
    width: calc(var(--click_width) - 60px);
    height: calc(var(--click_width) - 60px);
    animation: spin 10s linear infinite;
}
#info {
    background-image: linear-gradient(darkGrey,lightGrey);
    position: absolute;
    top: calc(var(--click_width) + 10px);
    left:10px;
    height: calc(100vh - var(--click_width) - 20px);
    width: calc(var(--click_width) - 20px)
}
#coinout {
    position:absolute;
    top:0px;
    right:0px;
    width:50%;
    height:10%;
    border-bottom-left-radius: 40px;
    background-color: navy;
}

#coinin {
    position:absolute;
    top:10px;
    right:10px;
    width:calc(100% - 30px);
    height:calc(100% - 30px);
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
#coinin > * {
    width:100%;
    height:100%;
    justify-content: center;
    vertical-align: middle;
}
#buyc {
    position:absolute;
    top:calc(10%);
    height:calc(90%);
    width:100%;
}
#buy {
    height: 95%;
}
#buys {
    align-content: center;
    align-items: center;
    text-align: center;
    overflow-y: scroll;
    height: 100%;
}
.upgrade {
    width: 80%;
    aspect-ratio: 10;
}
